.leftPanel{
	background:#fbfbfb;
}
.headingUnderline{
	padding-bottom:10px;
	border-bottom: 1px solid black;
}
.orderHistoryTable{
	font-size:14px;
	thead{
		th{
			border:none!important;
			background:rgb(248, 248, 248);
		}
	}
	td{
		border:none!important;
		border-bottom:1px solid #ececec!important;
	}
}