$theme-colors: (
//   'primary': #E66300,
  'primary': #000,
  'info': #007bff,
//   'secondary': #E66300
);

@import "~bootstrap/scss/bootstrap";
@import './fonts.scss';



.font-prata {
    font-family: $font-prata;
}

.font-lato {
    font-family: $font-lato;
}

.font-light{
	font-weight: 300;
}
.font-regular{
	font-weight: 400;
}
.font-bold{
	font-weight: 700;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.3rem;
   }

.heading {
font-family: 'Prata', serif;
}
.heading-underlined{
	padding-bottom:10px;
	border-bottom: 1px solid black;
}

// BACKGROUND OVERRIDE
.bg-light{
	background:#fbfbfb!important;
}

.btn{
	white-space: nowrap;
}
.swal-button{
	background: var(--primary)!important;
}

.btn.big-btn{
	border-radius:0px;
	padding:15px 40px;
}
.form-check{
	input{
		filter:hue-rotate(-189deg);
	}
}
.form-control{
	border-radius: 0px;
    height: calc(2em + 0.75rem + 2px);
    line-height: 2; 
    color: #495057;
	border-color:rgb(236, 236, 236);
}
.form-control:focus{
	box-shadow:none;
}

hr{
	border-top:1px solid rgb(242,242,242);
}

.breadcrumb{
	background-color:#fbfbfb;
	li{
		a{
			color:#a5a5a5;
		}
		&.active{
			a{
				color:#000;
			}
		}
	}
}

// Pagination

.page-link{
	color:#000;
}
.page-item.active{
	.page-link{
		color: #fff;
		background-color: #000000;
		border-color: #000000;
	}
}

// cart
.payment-card{
	background:#fbfbfb;
	height:100%;
	// color:rgb(180, 180, 180);
	border-radius:10px;
	input{
		// color:black;
		background:transparent;
		border:none;
		border-bottom:1px solid #414141;
	}
	.btn-white{
		// background:white;
		// color:black;
	}
	.btn.big-btn{
		width:100%;
	}
}
.cart-item{
	padding:10px;
	cursor:pointer;
	border-bottom:1px solid #f1f1f1;
	background:#fff;
	transition: all 0.3s ease-in-out;
	&:hover{
		background:rgb(250, 250, 250);
		transition: all 0.1s ease-in-out;
	}
	img{
		width:50px;
		height:50px;
		object-position: center;
		object-fit: contain;
		&.icon{
			width:15px;
			height:auto;
		}
	}
}

// order detail
.order-card{
	background:#fbfbfb;
	border-radius:10px;
}

// DASHOBARD TABLE
.order-history-table{
	font-size:14px;
	thead{
		th{
			border:none!important;
			background:rgb(248, 248, 248);
		}
	}
	td{
		border:none!important;
		border-bottom:1px solid #ececec!important;
		vertical-align: middle;
	}
}