$theme-colors: (
  'primary': #E66300,
  'info': #007bff,
//   'secondary': #E66300
);

@import "~bootstrap/scss/bootstrap";
@import './fonts.scss';



.font-prata {
    font-family: $font-prata;
}

.font-lato {
    font-family: $font-lato;
}

.font-light{
	font-weight: 300;
}
.font-regular{
	font-weight: 400;
}
.font-bold{
	font-weight: 700;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.3rem;
   }

.heading {
font-family: 'Prata', serif;
}

.btn.big-btn{
	border-radius:0px;
	padding:15px 40px;
}
.form-check{
	filter:hue-rotate(-189deg);
}
.form-control{
	border-radius: 0px;
    height: calc(2em + 0.75rem + 2px);
    line-height: 2; 
    color: #495057;
	border-color:rgb(236, 236, 236);
}


.breadcrumb{
	background-color:#fbfbfb;
	li{
		a{
			color:#a5a5a5;
		}
		&.active{
			a{
				color:#000;
			}
		}
	}
}

// Pagination

.page-link{
	color:#000;
}
.page-item.active{
	.page-link{
		color: #fff;
		background-color: #000000;
		border-color: #000000;
	}
}